<ion-header>
  <ion-toolbar>
    <ion-title>{{'ui.information' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<img src="/assets/legende-erosionsrisiko.png">
  <ion-note>Detaillierter Ausschnitt aus der ERK2. Erosions-Hotspots sind gut erkennbar und dank des hochaufgelösten
    Geländemodells sind Geländemulden deutlich auszumachen. (Giser et al. 2011)</ion-note>

  <img src="/assets/c-faktor-berechnung-schema.png">
  <ion-note>Schematische Darstellung der C-Faktor-Berechnung nach dem Vorgehen der ABAG (Kupferschmied 2018)</ion-note>
</ion-content>
