<ion-header>
  <ion-toolbar>
    <ion-title>{{'ui.karte' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="area">
    <ion-segment-button value="be">
      <ion-label>Bewirtschaftungseinheit</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nf">
      <ion-label>Nutzungsfläche</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-map [mapData]="mapData" [mapCenter]="mapCenter" [areaGeoJson]="area_area"
           [areaColor]="color" (onMapEvent)="onMapEvent($event)">
</app-map>
</ion-content>
