<ion-header>
    <ion-toolbar>
      <ion-title>{{'ui.beratung' | translate }}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/map"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="ion-padding" lines="none">
    <ion-list-header>Wie kann ich das Erosionsrisiko auf meinem Betrieb reduzieren?</ion-list-header>
    <ion-item class="ion-padding">
        <ul>
            <li class="beratung_item">Bewirtschaften Sie den Raps quer zum Hang</li>
            <li class="beratung_item">Setzen Sie vor Mais keinen Pflug ein</li>
            <li class="beratung_item">Prüfen Sie den Ersatz der Hackfrüchte durch Dauerwiese</li>
        </ul>
    </ion-item>
</ion-list>
    <ion-list class="ion-padding" lines="none">
        <ion-list-header>Unterstützung durch die lokale Beratung</ion-list-header>
        <ion-item>
            <ion-text>Hans Muster, Beratungszentrum Lexk</ion-text>
            <ion-icon size="large" slot="end" name="call-outline"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-text>Email</ion-text>
            <ion-icon size="large" slot="end" name="mail-outline"></ion-icon>
        </ion-item>
        <ion-item class="ion-padding">
            <img src="/assets/liebegg.png">
        </ion-item>
    </ion-list>
</ion-content>
